<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home of the Dinos</title>
</head>
<body>
    <h1>Dinos</h1>
    <a href="/logout">logout</a>

    <h2 th:if="${user}" th:text="${user}"></h2>

    <form action="/dinosaurUser" method="post">
        <label for="username">username</label>
        <input type="text" name="username">

        <label for="password">password</label>
        <input type="password" name="password">

        <input type="submit" value="signup">
    </form>
</body>
</html>