<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<header >
    <div th:replace="./fragments/nav :: nav-bar"></div>
</header>
    <h1 th:text="${dinoUser.username}">Specific Dino's Name : Triceratops</h1>
    <h2 th:if="${visitor}" th:text="${visitor.username}">Visiting DinoUser's Name: Welcome to my bio, Trex</h2>

    <!--The bio: seen by everyone-->
    <p th:text="${dinoUser.bio}"></p>

    <!--    Form to update the bio-->
    <!--Who should see the form to update the bio: Just Triceratops-->
    <form th:unless="${visitor}" th:action="'/dinosaurUser/'+${dinoUser.id}+'?_method=PUT'" method="POST">
        <input type="textarea" default="${dinoUser.bio}" name="bio">
        <input type="submit" value="edit bio">
    </form>
</body>
</html>

